*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --darkMode: #0f172a;
    --whiteMode: #94a3b8;
    --fontSize: 16px;
    --bg-clr-primary:#111827;
    --bg-clr-secondary:#d1d5db;
    --text-clr: #044C20;
    --btn-bg-clr-primary: #5f99be;
    --btn-bg-clr-secondary: #111b20;
    --fontFamily: 'Roboto', sans-serif;
}
.dark-theme{
    background-color: var(--bg-clr-primary);
  }
  
.light-theme{
    background-color: var(--bg-clr-secondary);
}
.container{
    display: flex;
    flex-direction: column;
    place-items: center;
}
.container > h2{
    background-image: linear-gradient(to bottom right, #305170, #6DFC6B);
    width: 80%;
    margin: auto;
    text-align: center;
    color: var(--darkMode);
    padding: 15px;
    margin-top: 10px;
}
.container > button{
    padding: 15px;
    font-size: 1rem;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
}
.container > button:hover{
    background-image: linear-gradient(to bottom right, #305170, #6DFC6B);
}
.main-heading{
    color: var(--text-clr);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 2px;
    margin: 3px;
    width: 100%;
}
.main-heading > button {
    font-size: .7rem;
    padding: .3rem;
    color: var(--text-clr);
    border-radius: 5px;
    border:none;
    background-color: var(--text-clr);
}

.card-grid{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}
.card{
    position: relative;
    border-radius: 15px;
}
.card > div > img{
    width: 100%;
    height: 18rem;
    border-radius: 15px;
}
.card .front{
    transform: rotateY(90deg);
    transition: all ease-in 0.2s;
    position: absolute;
}
.flipped .front{
    transform: rotateY(0deg);
    transition-delay: 0.2s;
}

.card .back{
    transition: all ease-in 0.2;
    transition-delay: 0.2;
}

.flipped .back{
    transform:  rotateY(90deg);
    transition-delay: 0s;
}

.displayScore{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    padding: 10px;
}
.displayScore .score{
    margin: 20px;
    background-image: linear-gradient(to bottom right, #305170, #6DFC6B);
    color: var(--darkMode);
    padding: 15px;
    font-size: 1.5rem;
    border-radius: 10px;
}

@media screen and (max-width: 768px) {
    .container{
        margin: 5px;
    }
    .container > h2{
        background-image: linear-gradient(to bottom right, #305170, #6DFC6B);
        width: 80%;
        margin: auto;
        text-align: center;
        color: var(--darkMode);
        padding: 15px;
        margin-top: 10px;
    }
    .displayScore{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .card-grid{
        width: 100%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-gap: 10px;
    }
}